[client]
port                      = 3306
socket                    = /var/run/mysqld/mysqld.sock
                     
[mysqld_safe]             
socket		                = /var/run/mysqld/mysqld.sock
nice		                  = 0

[mysqld]                  
user                      = mysql
port                      = 3306
pid-file                  = /var/run/mysqld/mysqld.pid
socket	                  = /var/run/mysqld/mysqld.sock
basedir                   = /usr
datadir     	            = /var/lib/mysql
tmpdir		                = /tmp
lc-messages-dir           = /usr/share/mysql
bind-address              = "0.0.0.0" 
key_buffer            		= 16M
max_allowed_packet	      = 16M
thread_stack	          	= 192K
thread_cache_size         = 8
query_cache_limit       	= 1M
query_cache_size          = 16M
log_error                 = /var/log/mysql/error.log
default_storage_engine    = InnoDB
server_id                 = 42
log_bin                   = mysql-bin
max_binlog_size           = 128M
expire_logs_days          = 5

!includedir /etc/mysql/conf.d/