#!/usr/bin/env bash

# Graphistry-custom Bash configuration for Node.js global module directory
# {{ ansible_managed }}

# Only execute this file if we haven't already done so
if [[ $_GRAPHISTRY_NODEJS_INIT != 1 ]]; then
    export npm_config_prefix='{{ npm_global_path }}'
    export NODE_PATH="${NODE_PATH+:}/usr/lib/nodejs:${npm_config_prefix}/lib/node_modules:/usr/lib/node_modules:/usr/share/javascript"
    export PATH="${npm_config_prefix}/bin/:$PATH"

    umask 0002

    export _GRAPHISTRY_NODEJS_INIT=1
fi