[default]
host = {{ inventory_friendlyname if inventory_friendlyname is defined else inventory_hostname }}

[monitor:///var/log/central-app/*.log]
disabled = false
sourcetype = _json
index = graphistry_apps

[monitor:///var/log/clients/*.log]
disabled = false
sourcetype = _json
index = graphistry_apps

[monitor:///var/log/graphistry-json/*.log]
disabled = false
sourcetype = _json
index = graphistry_apps

[monitor:///var/log/reaper/*.log]
disabled = false
sourcetype = _json
index = graphistry_apps

[monitor:///var/log/supervisor/supervisord.log]
disabled = false
sourcetype = supervisord

[monitor:///var/log/worker/*.log]
disabled = false
index = graphistry_apps

[monitor:///var/log/pivot-app/*.log]
disabled = false
sourcetype = _json
index = graphistry_apps


[monitor:///var/log/nginx/access.log]
disabled = false
index = graphistry_apps
sourcetype = access_combined


[monitor:///var/log/nginx/error.log]
disabled = false
index = graphistry_apps
sourcetype = nginx_error
