{"graphistry":
    {"key": "{{ pivot_app_key }}",
     "host": "{{ pivot_app_host }}"},
 "auth": {"password": "{{ pivot_app_password }}"},
 "splunk":
    {"key": "{{ pivot_app_splunk_key }}",
     "user": "{{ pivot_app_splunk_user }}",
     "host": "{{ pivot_app_splunk_host }}"}
}
