{"graphistry":
    {"key": "{{ pivot_app_key }}"
     {% if pivot_app_host is defined %}
     ,"host": "{{ pivot_app_host }}"
     {% endif %}
     },
 "authentication": {"passwordHash": "{{ pivot_app_password }}"},
 "splunk":
    {"key": "{{ pivot_app_splunk_key }}",
     "user": "{{ pivot_app_splunk_user }}",
     "host": "{{ pivot_app_splunk_host }}"}
}
