/*******/
html {
    overflow: hidden;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selecttext {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}



.logo-container {

    &.disabled {
        display: none;
    }

    position: absolute;
    left: 40%;
    top: 0.5em;
    pointer-events: none;

    img {
        width: 40%;
    }
}

.graph-label-container {
    position: absolute;
    top: 0;
    left: 0;
}

//label -> container -> title + (contents -> pair -> (key+value))
.graph-label {

    //scrollbar
    &::-webkit-scrollbar,
    & .graph-label-container::-webkit-scrollbar,
    & .graph-label-contents::-webkit-scrollbar   {
        -webkit-appearance: none;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb,
    & .graph-label-container::-webkit-scrollbar-thumb,
    & .graph-label-contents::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    & .graph-label-title .fa-thumb-tack {
        display: none;
    }

    &.clicked {

        margin-top: -2px;
        margin-left: -2px;

        .graph-label-container {

            background-color: white;
            border-width: 3px;

            .graph-label-title .fa-thumb-tack {
                display: inline-block;
                color: rgba(31, 31, 51, 1.0);
            }
        }
    }

    &, & table {
        color: rgb(31, 31, 51);
    }

    position: absolute;
    z-index: 10000;


    //only selectable when clicked
    //trick: no text elements above labels so effectively contained
    &, & * {
        .noselect();
    }
    &.clicked, &.clicked * {
        .selecttext();
    }



    //shrink-to-fit: hidden bounding box for autosizing contents
    width: 30em;
    pointer-events: none;
    .graph-label-container {
        width: auto;
        height: auto;
        pointer-events: auto;
    }

    cursor: pointer;
    .graph-label-contents {
        cursor: auto;
    }

    //hover effect: show & higher than other labels
    .graph-label-title {
        max-width: 10em;
        display: inline-block;
        overflow:hidden;
        pointer-events: none;
    }
    .graph-label-contents {
        display: none;
    }
    &.on {
        z-index: 100000;
        & .graph-label-title {
            max-height: none;
            max-width: none;
            height: auto;
        }
        & .graph-label-contents {
            display: block;

            max-height: 20em;
            max-width: 50em;
            height: auto;
            overflow-y: auto;
            overflow-x: hidden;

        }
    }


    .graph-label-container {
        margin-top: 2.5em;
        margin-left: 1.5em;
        padding: 0.5em 0.5em 0.4em 0.5em;
        border: 1px solid transparent;
        border-radius: 10px;

        background-color: rgba(255, 255, 255, 0.9);
        font-size: 0.75em;
        opacity: 0.8;

        text-align: left;
    }

    &.on .graph-label-container {
        box-shadow: 0 0 10px rgba(235,235,245,0.75);
        opacity: 1.0;
        border-color: rgba(51, 51, 102, 1);
    }

    .graph-label-contents {
        margin-top: 0.5em;
        padding-top: 0.5em;
        border-top: 1px solid rgb(51,51,102);

        table {
            font-size: 1.1em;
            margin-right: 0.8em;

            td,
            .graph-label-value-wrapper{
                max-width: 15em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }



    .graph-label-title {
        font-weight: bold;
    }
    .graph-label-pair:nth-child(odd) {
        background-color: rgba(51,51,102,0.1);
    }
    .graph-label-pair {
        font-size: 1.1em;
        .graph-label-key, .graph-label-value {
            padding-top: 0.3em;
            vertical-align: top;
        }
        .graph-label-key {
            font-weight: bold;
            text-align: right;
            padding-right: 0.5em;
        }
        .graph-label-key:after {
            content: ": "
        }
        .graph-label-value-wrapper {
            max-height: 5em;
            overflow: auto;
        }
    }

    hr {
        margin: 0px;
    }

}


.info {

    #menuState {
        display: inline-block;
    }

        .meter {
            visibility: visible;
            position: fixed;
            bottom: 3em;
            opacity: 0.75;
            color: rgb(51,51,102) !important;

            .flavor, div {
                color: rgb(51,51,102);
                text-transform: uppercase !important;
                font-weight: bold !important;
                text-shadow: none;
            }
        }
}

.meter {
    visibility: hidden;
}

.meter-fps {
    left: 1em;
}
.meter-network {
    left: 11em;
}




.marquee-outline {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 5000;
    top: 0;
    left: 0;

    &.on {
        display: block;
        cursor: crosshair;
    }

    &.off {
        display: none;
    }

    .noselect();
}


.selection {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 0 10px rgba(255,255,255,0.75);
    border: 1px dashed rgba(51,51,153, 0.75);
}

.selection.off {
    display: none;
}

.selection.on {
    display: block;

}

.content {
    position: absolute;
    left: 0;
    top: 0;
}

.status-bar {
    visibility: hidden;
    max-height: 1.5em;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: left;
    z-index: 99999;
    background-color: rgba(200, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.status-error {
    cursor: pointer;
    padding-left: 0.25em;
}

#main, .accordion {
    background-color: rgba(204, 204, 204, 0.3);
    color: #EEF;
    padding: 0.5em;
}

#main, #menuState, #controlState {
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(51, 51, 102, 0.4);
    border-radius: 7px;
}

#main:hover, #menuState:hover .fa-cogs, #controlState a:hover, #controlState a.on {
    text-shadow: 0 0 10px rgba(255,255,255,0.75);
}

#menus {
    position: absolute;
    width: 100%;
    z-index: 1000000;

    .noselect();
}

#controlState {
    position: absolute;
    right: 1em;
    display: inline-block;
    top: 1em;
    margin: 1em;
    padding: 0.5em;
}


#controlState a {
    display: block;
    text-align: center;
    padding: 0.2em;
}

.draggable, .dragging {
    border-width: 3px;
    border-color: rgba(51, 51, 102, 1);
    border-radius: 10px;

}

.draggable {
    cursor:pointer;
}

.dragging {
    cursor:move !important;
}

.menu {
    position: absolute;
    z-index: 100001;
    left: 0;
}

.graphistry-body {
    visibility: hidden;
    background-color: #223 !important;
    height: 100%;
    overflow:hidden;
}

label {
    color: rgba(255,255,255,0.9);
}

.accordion-heading a:hover .fa {
    color: rgb(15, 165, 197);
}

.accordion-heading .fa {
    color: rgba(255,255,255,0.9);
}

.accordion-heading .toggle-on {
    text-shadow: 0px 0px 5px white;
    color: rgb(15,165,197);
}

i.fa {
   display: inline-block;
}

button.btn-default {
    background-color: transparent;
    color: white;
}



#highlighted-point-cont {
    z-index: 5001;
    position: absolute;
    top: -10px;
    left: -10px;
    cursor: pointer;

    .noselect();
}

.highlighted-point {
    position: relative;
    left: -9px;
    top: -9px;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.75);
}

.highlighted-point-center {
    position: relative;
    left: 7px;
    top: 7px;
    border-radius: 4px;
    background-color: white;
    width: 5px;
    height: 5px;
    border: 1px solid rgb(51,51,102);
}





#simulation {
    border: 0px;
    cursor: default;

    &.moving {
        cursor: move;
    }
}

.debug {
    #timeSlider {
        display: inline-block;
    }

    #mouser, {
        display: inline-block !important;
    }

}

#timeSlider {
    display: none;
}

#mouser, {
    display: none !important;
}

.graphistry-body {

    background: linear-gradient(to bottom, #EDF8FF 0%, #F0F4F9 100%);

    .heading {
        background: none;
    }

}

.load-spinner {
    visibility: visible;
}

#load-text {
    position: absolute;
    width: 400px;
    top: 50px;
    left: -200px;
    text-align: center;
    color: rgb(51,51,102);
}


.legend-container {

    &.off {
        overflow:hidden;
        height: 2.4em;
        width: 2.4em;
        min-width: 1em;
    }

    display: none;
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    max-width: 40em;
    min-width: 20em;
    z-index: 20000;

    border-radius: 10px;
    border: 1px solid rgba(255,255,244,0.9);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(235,235,245,0.75);

    h3 {
        margin-top: 0;
        margin-bottom: 5px;
        color: rgb(51,51,102);
        font-weight: bold;
        font-size: 1.3em;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 0.4em;
    }

    tr {
        margin-top: 1em;

        td:first-child {
            vertical-align: top;
        }
    }

    .legend-label {
        margin-right: 0.4em;
        color: rgb(51,51,102);
        font-weight: bold;
    }

    .toggles {
        text-align: right;
        position: absolute;
        right: 0.7em;
        top: 0.7em;
    }

    &.off > :not(:first-child) {
        visibility: hidden;
    }

    &.on .revealer,
    &.off .hider {
        display: none;
    }
}

#inspector {
    cursor: auto !important;

    &.panel {
        visibility: hidden;
        z-index: 10000;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        max-height: 11em;
        min-height: 5.5em;
        height: auto;
        margin: 0;
    }

    .backgrid {
        font-size:0.75em;
        th,
        .integer-cell,
        .string-cell {
            padding: 0px 5px;
            a {
                color: rgb(51,51,102);
            }
            a:hover {
                color: rgb(255,51,102);
            }
        }
    }

    .backgrid-paginator {
        font-size: 0.75em;
        font-weight: bold;
        li:not(.active) > a {
            color: rgb(51,51,102);
        }

        ul {
            margin: 0;
        }
        ul > li > a {
            width: 25px;
            height: 25px;
        }
    }
}

#histogram {
    cursor: auto !important;

    &.panel {
        visibility: hidden;
        z-index: 10000;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        max-height: 12em;
        min-height: 8em;
        height: auto;
        margin: 0;
    }

    .histogramDiv {
        height: 100%;
        width: 100%;

        .axis {
            text {
                font: 10px sans-serif;
            }
            path, line {
                fill: none;
                stroke: #000;
                shape-rendering: crispEdges;
            }
        }

        .bar {
            fill: steelblue;
            fill-opacity: .9;
        }

        .x.axis path {
            display: none;
        }

        label {
            position: absolute;
            top: 10px;
            right: 10px;
        }

    }

}


#renderingItems {
    width: 25em;

    .control-title {
        font-weight: bold;
        font-size: 15px;
    }

    .form-group {
        margin-bottom: 10px;

        .control-label {
            padding-top: 0px;
            font-weight: normal;
            font-size: 13px;
        }
    }

}

.slider {
    .slider-track {
        background-image: linear-gradient(to bottom, #C9C9C9 0%, #C3C3C3 100%);

        .slider-selection {
            background-image: linear-gradient(to bottom, #FFFFFF 0%, #FAFAFA 100%);
        }

        .slider-handle {
            opacity: 1.0;
            background-image: linear-gradient(to bottom, #149bdf 0%, #0480be 100%);
        }
    }
}


.automode {
    animation: pulsate 1s linear infinite;
    -webkit-animation: pulsate 1s linear infinite;
}

.graphistry-pulsate-keyframes() {
    0%   { color: rgb(5, 168, 201); }
    100% { color: #FFF; }
}

@keyframes "pulsate" {
    .graphistry-pulsate-keyframes();
}

@-webkit-keyframes "pulsate" {
    .graphistry-pulsate-keyframes()
}
