/*******/


//////////////////////////////////////////////////////////////////////////////
// Constants
//////////////////////////////////////////////////////////////////////////////

@light-grey-blue: #F0F4F7;
@light-grey-background: rgba(252, 252, 252, 1.0);
@light-grey-background-2: #F9F9F9;
@medium-grey: rgba(200,200,200,1.0);
@dark-grey: rgba(100,100,100,1.0);
@floating-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
@floating-border-radius: 3px;

@graphistry-lightblue: #0fa5c5;
@graphistry-darkblue: #0C1134;


//////////////////////////////////////////////////////////////////////////////
// z-index order
//////////////////////////////////////////////////////////////////////////////

@marquee-z:                     5000;
@highlighted-point-z:           5001;
@graph-label-z:                 6000;
@graph-label-clicked-z:         6500;
@graph-label-hover-z:           7000;
@legend-z:                      8000;
@menu-z:                        9000;
@menus-z:                       9500;
@histogram-z:                  10000;
@inspector-z:                  10000;
@inspector-tabs-z:             10001;
@inspector-overlay-z:          10001;
@histogram-btn-z:              10002;
@histogram-name-z:             10002;
@status-bar-z:                 99999;
@tooltip-z:                  1000001;
@forker-z:                   1001000;
@persistor-z:                1001000;
@colorpicker-z:              1002000;

//////////////////////////////////////////////////////////////////////////////
// Labels
//////////////////////////////////////////////////////////////////////////////


.graph-label-container {
    position: absolute;
    top: 0;
    left: 0;
}

//label -> container -> title + (contents -> pair -> (key+value))
.graph-label {

    position: absolute;
    z-index: @graph-label-z;
    &.clicked {
        z-index: @graph-label-clicked-z;
    }
    &.on:not(.clicked) {
        z-index: @graph-label-hover-z;
    }


    //scrollbar
    &::-webkit-scrollbar,
    & .graph-label-container::-webkit-scrollbar,
    & .graph-label-contents::-webkit-scrollbar   {
        -webkit-appearance: none;
        width: 7px;
    }
    &::-webkit-scrollbar-thumb,
    & .graph-label-container::-webkit-scrollbar-thumb,
    & .graph-label-contents::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0,0,0,.5);
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

    & .graph-label-title .fa-thumb-tack {
        display: none;
    }

    &.clicked {

        margin-top: -2px;
        margin-left: -2px;

        .graph-label-container {

            background-color: white;
            border-width: 3px;

            .graph-label-title .fa-thumb-tack {
                display: inline-block;
                color: rgba(31, 31, 51, 1.0);
            }
        }
    }

    &, & table {
        color: rgb(31, 31, 51);
    }



    //only selectable when clicked
    //trick: no text elements above labels so effectively contained
    &, & * {
        .noselect();
    }
    &.clicked, &.clicked * {
        .selecttext();
    }



    //shrink-to-fit: hidden bounding box for autosizing contents
    width: 30em;
    pointer-events: none;
    .graph-label-container {
        width: auto;
        height: auto;
        pointer-events: auto;
    }

    cursor: pointer;
    .graph-label-contents {
        cursor: auto;
    }

    //hover effect: show & higher than other labels
    .graph-label-title {
        width: 100%;
        max-width: 10em;
        display: inline-block;
        overflow:hidden;
        pointer-events: none;
    }

    .label-type {
        text-transform: uppercase;
        font-size: 0.9em;
        color: @dark-grey;
    }

    .graph-label-contents {
        display: none;
    }
    &.on {
        & .graph-label-title {
            max-height: none;
            max-width: none;
            height: auto;
        }
        & .graph-label-contents {
            display: block;

            max-height: 20em;
            max-width: 50em;
            height: auto;
            overflow-y: auto;
            overflow-x: hidden;

        }

        .graph-label-container.graph-label-point .graph-label-title .label-type:after {
            content: " Point";
        }

        .graph-label-container.graph-label-edge .graph-label-title .label-type:after {
            content: " Edge";
        }
    }

    .graph-label-container {
        margin-top: 2.5em;
        margin-left: 1.5em;
        padding: 0.5em 0.5em 0.4em 0.5em;
        border: 1px solid transparent;
        border-radius: 10px;

        background-color: rgba(255, 255, 255, 0.9);
        font-size: 0.75em;
        opacity: 0.8;

        text-align: left;
    }

    &.on .graph-label-container {
        box-shadow: 0 0 10px rgba(235,235,245,0.75);
        opacity: 1.0;
        border-color: rgba(51, 51, 102, 1);
    }

    .graph-label-contents {
        margin-top: 0.5em;
        padding-top: 0.5em;
        border-top: 1px solid rgb(51,51,102);

        table {
            font-size: 1.1em;
            margin-right: 0.8em;

            td,
            .graph-label-value-wrapper{
                max-width: 15em;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }



    .graph-label-title {
        font-weight: bold;
    }
    .graph-label-pair:nth-child(odd) {
        background-color: rgba(51,51,102,0.1);
    }
    .graph-label-pair {
        font-size: 1.1em;
        .graph-label-key, .graph-label-value {
            padding-top: 0.3em;
            vertical-align: top;
        }
        .graph-label-key {
            font-weight: bold;
            text-align: right;
            padding-right: 0.5em;
        }
        .graph-label-key:after {
            content: ": "
        }
        .graph-label-value-wrapper {
            max-height: 5em;
            overflow: auto;
        }
    }

    hr {
        margin: 0px;
    }

}

#highlighted-point-cont {
    z-index: @highlighted-point-z;
    position: absolute;
    top: -10px;
    left: -10px;
    cursor: pointer;

    .noselect();
}

.highlighted-point {
    position: relative;
    left: -9px;
    top: -9px;
    border: 1px solid rgba(255,255,255,0.8);
    border-radius: 10px;
    width: 20px;
    height: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.75);
}

.highlighted-point-center {
    position: relative;
    left: 7px;
    top: 7px;
    border-radius: 4px;
    background-color: white;
    width: 5px;
    height: 5px;
    border: 1px solid rgb(51,51,102);
}

//////////////////////////////////////////////////////////////////////////////
// Meter
//////////////////////////////////////////////////////////////////////////////

.info {

    #menuState {
        display: inline-block;
    }

        .meter {
            visibility: visible;
            position: fixed;
            bottom: 3em;
            opacity: 0.75;
            color: rgb(51,51,102) !important;

            .flavor, div {
                color: rgb(51,51,102);
                text-transform: uppercase !important;
                font-weight: bold !important;
                text-shadow: none;
            }
        }
}

.meter {
    visibility: hidden;
}

.meter-fps {
    left: 1em;
}
.meter-network {
    left: 11em;
}

//////////////////////////////////////////////////////////////////////////////
// Marquee Selector
//////////////////////////////////////////////////////////////////////////////

.marquee-outline {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: @marquee-z;
    top: 0;
    left: 0;

    &.on {
        display: block;
        cursor: crosshair;
    }

    &.off {
        display: none;
    }

    .noselect();
}


.selection {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0 0 10px rgba(255,255,255,0.75);
    border: 1px dashed rgba(51,51,153, 0.75);
}

.selection.off {
    display: none;
}

.selection.on {
    display: block;

}

.draggable, .dragging {
    border-width: 3px;
    border-color: rgba(51, 51, 102, 1);
    border-radius: 10px;

}

.draggable {
    cursor:pointer;
}

.dragging {
    cursor:move !important;
}

//////////////////////////////////////////////////////////////////////////////
// Main View
//////////////////////////////////////////////////////////////////////////////

.graphistry-body {
    visibility: hidden;
    background-color: #F0F4F9 !important;
    height: 100%;
    overflow:hidden;

    .heading {
        background: none;
    }
}

#simulation {
    border: 0px;
    cursor: default;

    &.moving {
        cursor: move;
    }
}

.content {
    position: absolute;
    left: 0;
    top: 0;
}

.status-bar {
    visibility: hidden;
    max-height: 1.5em;
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    text-align: left;
    z-index: @status-bar-z;
    background-color: rgba(200, 0, 0, 0.9);
    color: rgb(255, 255, 255);
    font-weight: 800;
}

.status-error {
    cursor: pointer;
    padding-left: 0.25em;

    &>span {
        vertical-align: top;
    }
}

//////////////////////////////////////////////////////////////////////////////
// Buttons and Controls
//////////////////////////////////////////////////////////////////////////////


#main, .accordion {
    background-color: rgba(204, 204, 204, 0.3);
    color: #EEF;
    padding: 0.5em;
}


#menuState{
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(51, 51, 102, 0.4);
    border-radius: 7px;
}

#main:hover, #menuState:hover .fa-cogs, #controlState a:hover, #controlState a.on {
    text-shadow: 0 0 10px rgba(255,255,255,0.75);
}

html.nomenu #menus, html.nomenu #sliders {
    display: none;
}
#menus {
    position: absolute;
    width: 100%;
    z-index: @menus-z;

    .noselect();
}

.colorpicker {
    z-index: @colorpicker-z;
}

.options-group {

    box-shadow: @floating-box-shadow;
    border-radius: @floating-border-radius;
    background-color: @light-grey-background;
    margin-bottom: 6px;

    .divide-line {
        margin-top: 1px;
        margin-bottom: 1px;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        border-bottom: solid 1px #DDD;
    }
}

#controlState {
    position: absolute;
    left: 0.5em;
    display: inline-block;
    top: 1em;
    margin: 1em;
    padding: 0.5em;
}


#controlState a {
    display: block;
    text-align: center;
    padding: 0.2em;
}

.menu {
    position: absolute;
    z-index: @menu-z;
    left: 4em;
}

.accordion-heading a:hover .fa {
    color: rgb(15, 165, 197);
}

.accordion-heading .fa {
    color: @dark-grey;
}

.accordion-heading .toggle-on {
    text-shadow: 0px 0px 5px white;
    color: rgb(15,165,197);
}

i.fa {
    font-size: 1.5em;
    display: inline-block;
}

button.btn-default {
    background-color: transparent;
    //color: white;
}

.slider {
    .slider-track {
        background-image: linear-gradient(to bottom, #C9C9C9 0%, #C3C3C3 100%);

        .slider-selection {
            background-image: linear-gradient(to bottom, #0FA5C5 0%, #1E95AE 100%);
        }

        .slider-handle {
            opacity: 1.0;
            background: #333366;
        }
    }
}

.bootstrap-switch-container >.bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: #0fa5c5;
}


.settingsPanel {
    max-height: 23.2em;
    overflow: auto;

    box-shadow: @floating-box-shadow;
    border-radius: @floating-border-radius;
    background-color: @light-grey-background;

    padding: 0.5em;

    position: absolute;
    display: none;
    //opacity: 0;
    width: 25em;

    left: 5em;
    top: 2.5em;
}

#renderingItems {

    label {
        color: black;
    }

    .control-title {
        padding-top: 4px;
        padding-bottom: 4px;
        font-weight: bold;
        font-size: 15px;
    }

    .form-group {
        margin-bottom: 10px;

        .control-label {
            padding-top: 0px;
            font-weight: normal;
            font-size: 13px;
        }
    }

}

////////////


.forker {
    z-index: @forker-z;

    .modal-body {
        word-wrap: break-word
    }
}

.persistor {
    z-index: @persistor-z;

    .modal-body {
        word-wrap: break-word
    }
}


//////////////////////////////////////////////////////////////////////////////
// Hidden by Debug
//////////////////////////////////////////////////////////////////////////////

.debug {
    #timeSlider {
        display: inline-block;
    }

    #menuState {
        display: inline-block;
    }


    #persistButton {
        display: block !important;
    }
}

#menuState {
    display: none !important;
}

#timeSlider {
    display: none;
}

#mouser {
    display: none !important;
}

#persistButton {
    display: none !important;
}

//////////////////////////////////////////////////////////////////////////////
// Loading
//////////////////////////////////////////////////////////////////////////////

.load-spinner {
    visibility: visible;
}

#load-text {
    position: absolute;
    width: 400px;
    top: 50px;
    left: -200px;
    text-align: center;
    color: rgb(51,51,102);
}

//////////////////////////////////////////////////////////////////////////////
// Legend
//////////////////////////////////////////////////////////////////////////////

.legend-container {

    &.off {
        overflow:hidden;
        height: 2.4em;
        width: 2.4em;
        min-width: 1em;
    }

    display: none;
    position: absolute;
    bottom: 1em;
    right: 1em;
    padding: 1em;
    max-width: 40em;
    min-width: 20em;
    z-index: @legend-z;

    border-radius: 10px;
    border: 1px solid rgba(255,255,244,0.9);
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 10px rgba(235,235,245,0.75);

    h3 {
        margin-top: 0;
        margin-bottom: 5px;
        color: rgb(51,51,102);
        font-weight: bold;
        font-size: 1.3em;
    }

    table {
        border-collapse: separate;
        border-spacing: 0 0.4em;
    }

    tr {
        margin-top: 1em;

        td:first-child {
            vertical-align: top;
        }
    }

    .legend-label {
        margin-right: 0.4em;
        color: rgb(51,51,102);
        font-weight: bold;
    }

    .toggles {
        text-align: right;
        position: absolute;
        right: 0.7em;
        top: 0.7em;
    }

    &.off > :not(:first-child) {
        visibility: hidden;
    }

    &.on .revealer,
    &.off .hider {
        display: none;
    }
}

//////////////////////////////////////////////////////////////////////////////
// Data Inspector
//////////////////////////////////////////////////////////////////////////////

#inspector {
    visibility: hidden;
    z-index: @inspector-z;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 85%;
    height: 16em;
    margin: 0;
    padding: 0;
    background-color: @light-grey-background-2;

    .inspector-tabs {
        position: relative;
        float: left;
        width: 2.8em;
        z-index: @inspector-tabs-z;

        & > ul > li > a {
            color: @dark-grey;
        }

        & > ul > li.active > a {
            color: @graphistry-lightblue;
        }
    }

    .tab-content {
        position: relative;
        width: 100%;
        padding-left: 2.8em;
        margin: 0;
    }

    .inspector {
        cursor: auto !important;
        width: 100%;
        height: 16em;
        overflow: auto;
        &.panel {
            box-shadow: @floating-box-shadow;
            background-color: @light-grey-background-2;
        }
    }

    .divide-line {
        width: 100%;
        border-bottom: solid 1px #DDD;
        margin-bottom: 0.16em;
    }



    .backgrid {
        width: 100%;
        font-size: 0.75em;

        & > tbody {
            background-color: white;
        }

        th,
        .integer-cell,
        .string-cell {
            padding: 0px 5px;
            border-left: 1px #DDD solid;
            a {
                color: @dark-grey;
                &:hover {
                    color: @graphistry-lightblue;
                }
            }
            &.ascending a, &.descending a {
                color: @graphistry-lightblue;
            }
        }

        .ascending .sort-caret, .descending .sort-caret {
            border-top-color: @graphistry-lightblue;
            border-bottom-color: @graphistry-lightblue;
        }
    }

    .backgrid-paginator {
        // Breaks scroll bars
        //position: fixed;
        //bottom: 0;
        //width: 85%;

        font-size: 0.75em;
        font-weight: bold;
        background-color: @light-grey-background-2;

        li {
            display: inline-block;
            width: 2em;
            margin-left: 5px;

        }

        li.disabled, li.disabled a {
            color: @medium-grey !important;
        }


        li.active > a {
            color: @graphistry-lightblue;
        }
        li:not(.active) > a {
            color: @dark-grey;
        }

        li:not(.active) > a:hover {
            color: @graphistry-lightblue;
        }

        ul {
            margin: 0;
        }
        ul > li > a {
            width: 25px;
            height: 25px;
        }
    }
}

#inspector-overlay {
    &.panel {
        z-index: @inspector-overlay-z;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 85%;
        height: 16em;
        margin: 0;
        visibility: hidden;
        background-color: gray;
        opacity: .4;
        box-shadow: @floating-box-shadow;
    }
}

//////////////////////////////////////////////////////////////////////////////
// Histogram
//////////////////////////////////////////////////////////////////////////////

#histogram {
    cursor: auto !important;

    &.panel {
        background-color: @light-grey-background-2;
        visibility: hidden;
        z-index: @histogram-z;
        position: fixed;
        right: 0;
        bottom: 0;
        top: 0;
        width: 15%;
        height: 100%;

        box-shadow: @floating-box-shadow;
        border-radius: @floating-border-radius;
        overflow-y:scroll;

        // Scrollbars are hidden on mac, so we force it to show
        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 7px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 4px;
            background-color: rgba(0,0,0,.5);
            -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
        }
    }

    #addHistogram {

        .dropdown {
            text-align: center;
        }

        #addHistogramButton {
            background-color: white;
            border: 1px solid @medium-grey;
            color: @dark-grey;
            margin: 10px;

            font-weight: bold;
            font-size: 0.75em;
        }

        #addHistogramButton:hover {
            border-color: @graphistry-lightblue;
            color: @graphistry-lightblue;
        }
    }


    .divide-line {
        width: 100%;
        border-bottom: solid 1px #DDD;
    }

    .col-xs-1, .col-xs-10 {
        padding: 5px;
    }


    .expandHistogramButton, .expandedHistogramButton {
        font-size: 1.3em;
    }

    @rotateDuration: 0.1s;
    .expandHistogramButton {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);

        -webkit-transition: all @rotateDuration ease-in-out;
        -moz-transition: all @rotateDuration ease-in-out;
        -o-transition: all @rotateDuration ease-in-out;
        transition: all @rotateDuration ease-in-out;
    }

    .expandedHistogramButton {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);

        -webkit-transition: all @rotateDuration ease-in-out;
        -moz-transition: all @rotateDuration ease-in-out;
        -o-transition: all @rotateDuration ease-in-out;
        transition: all @rotateDuration ease-in-out;
    }

    .closeButton, .expandButton {
        margin-top: 4px;
        font-size: 0.7em;
        .fa {
            color: @medium-grey;

        }
        .fa:hover {
            color: @graphistry-lightblue;
        }
    }

    .tooltip {
        pointer-events: none;
        margin-left: 0px;

        &.bottom {
            margin-top: 12px;
        }
    }

    .btn-default {
        z-index: @histogram-btn-z;
        color: @dark-grey;
        text-align: center;
        font-weight: bold;
        font-size: 0.8em;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .attributeName {
        text-align: center;
        margin-left: 4px;
        padding-left: 4px;
        margin-top: 5px;
        z-index: @histogram-name-z;
        color: @dark-grey;
        font-size: 1em;

        &::first-letter {
            text-transform: uppercase;
        }
    }

    .histogramDiv {
        width: 100%;
        background-color: @light-grey-background;

        .vizContainer {
            height: calc(100% - 30px);
        }

        .topMenu {
            height: 30px;
            padding-left: 4px;

            .dropdown {
                margin: 3px;
            }

        }

        .axis {
            text {
                font: 10px sans-serif;
                fill: @dark-grey;

            }
            path, line {
                fill: none;
                stroke: @dark-grey;
                shape-rendering: crispEdges;
            }
        }

        .bar {
            fill: steelblue;
            fill-opacity: .9;
        }

        .y.axis path {
            display: none;
        }

        label {
            position: absolute;
            top: 10px;
            right: 10px;
        }



        // border-bottom-style: solid;
        // border-bottom-width: 1px;
        // border-bottom-color: #B2B2B2;

    }

}

//////////////////////////////////////////////////////////////////////////////
// Misc
//////////////////////////////////////////////////////////////////////////////


html {
    overflow: hidden;
}

.tooltip {
    z-index: @tooltip-z;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.selecttext {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

html.nologo .logo-container {
    display: none;
}
.logo-container {

    &.disabled {
        display: none;
    }

    position: absolute;
    left: 40%;
    top: 0.5em;
    pointer-events: none;

    img {
        width: 40%;
    }
}

// Animations

.automode {
    animation: pulsate 1s linear infinite;
    -webkit-animation: pulsate 1s linear infinite;
}

.graphistry-pulsate-keyframes() {
    0%   { color: rgb(5, 168, 201); }
    100% { color: #FFF; }
}

@keyframes "pulsate" {
    .graphistry-pulsate-keyframes();
}

@-webkit-keyframes "pulsate" {
    .graphistry-pulsate-keyframes()
}
