html {
	margin: 0;
	padding: 0;
}

body {
	background-color: rgb(255, 255, 255);
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

#main {
	margin: 1em auto 0 auto;
	width: 702px;
	background-color: rgb(255, 255, 255);
	/*border: 1px dotted black;*/
	padding: 0 1em 1em 1em;
}

.heading {
	margin-top: 0;
	padding-top: 0;
	margin-left: auto;
	margin-right: auto;
}

.title {
	float: left;
	margin-top: 10px;
}

.control-button {
	font-size: 11pt;
	width: 5em;
	float: right;
	margin-top: 22px;
	margin-left: 1em;
}

.content {
	width: 100%;
	margin: 0;
	padding: 0;
	text-align: center;
	clear: both;
}

.sim-container {
	/*background-color: blue;*/
}

#simulation {
	margin: 0 auto 0 auto;
	padding: 0;
	border: 1px solid black;
	/*width: 700px;*/
	/*height: 700px;*/
}

#message-box {
	width: 100%;
	text-align: left;
	margin-top: 1em;
}
#messages {
	list-style-type: none;
	list-style-position: outside;
	padding: 0;
}
.msg-info {
	color: rgb(68, 98, 175);
}
.msg-warn {
	color: rgb(213, 128, 0);
}
.msg-error {
	color: rgb(196, 0, 0);
}

#matrices {
	/*display: none;*/
}