; {{ ansible_managed }}

[program:central]

command=/usr/bin/nodejs /opt/npm_global/bin/npm start "{\"ENVIRONMENT\": \"{{ cluster }}\", \"HOSTNAME\": \"{{ inventory_hostname }}\", \"HTTP_LISTEN_ADDRESS\": \"0.0.0.0\" }"
directory={{ graphistry_install_path }}/central
environment=DEBUG='(express:*)|(graphistry:*)'

process_name=%(program_name)s
numprocs=1
numprocs_start=0

user=www
umask=002

stdout_logfile=/var/log/central-app/central.log
stdout_logfile_maxbytes=10MB
redirect_stderr=true
; stderr_logfile=/var/log/central-app/central.err.log

autostart=true
autorestart=true

stopasgroup=true
