[program:central-app]
command=sudo -u www node server.js
directory=/opt/central/node_modules/graph-viz
process_name=%(program_name)s
numprocs=1
autostart=true
autorestart=true
stopsignal=TERM
stopwaitsecs=10
stdout_logfile=/var/log/central-app/app.log
redirect_stderr=true