Host *.graphistry.com
    Port 61630

    ForwardAgent yes

    ServerAliveCountMax 3
    ServerAliveInterval 10

    Compression no


Host github.com
    Compression yes
    CompressionLevel 6
    PermitLocalCommand no


Host *
    ControlMaster auto
    ControlPath ~/.ssh/mux-%n%p%r
    ControlPersist 1m
