/* prism.css download from Prism.com >> */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2;
	background: none;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
    white-space: pre-wrap;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #8292a2;
}

.token.punctuation {
	color: #f8f8f2;
}

.token.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672;
}

.token.boolean,
.token.number {
	color: #ae81ff;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2;
}

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
	color: #e6db74;
}

.token.keyword {
	color: #66d9ef;
}

.token.regex,
.token.important {
	color: #fd971f;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}


/* Editor */


.code-edit-container {
    position: relative;
    height: 500px;
    border: 1px solid hsl(0, 0%, 60%);
    background-color: hsl(212, 35%, 95%);
    margin: 1em 0;
  }
  
  #code-editor,
  #code-highlighter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    border: none;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 0.8rem;
    background: transparent;
    white-space: pre-wrap;
    line-height: 1.5em;
    word-wrap: break-word;
    font-size: 1rem;
    overflow: auto;
  }
  
  #code-editor {
    opacity: 1;
    margin: 0;
    color: hsl(0, 0%, 40%);
    resize: none;
    background-color: black;
  }
  
  #code-highlighter {
    pointer-events: none;
    z-index: 3;
    margin: 0;
    overflow-y: auto;
  }
  
  code {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 1rem;
    display: block;
    color: hsl(0, 0%, 40%);
    font-size: 0.8rem;
    font-family: "PT Mono", monospace;
  }
  
  /* overrides */
  .code-edit-container :not(pre) > code[class*="language-"],
  .code-edit-container pre[class*="language-"] {
    background: transparent;
    margin: 0;
  }
