# {{ ansible_managed }}

################################################################################
# Location directives for mapping a URL to an upstream viz-server worker server
################################################################################
location /worker/ {
    proxy_buffering             off;

{% for worker_port in range(workers_port_start, (workers_port_start + workers_count)) %}
    location /worker/{{ worker_port }}/ {
        proxy_pass              http://worker{{ worker_port }}/;
    }

{% endfor %}
}
