[program:reaper]
command=sudo python {{ graphistry_install_path }}/reaper.py
process_name=%(program_name)s
numprocs=1
autostart=true
autorestart=true
stopsignal=TERM
stopwaitsecs=10
stdout_logfile=/var/log/reaper.log
redirect_stderr=true