; {{ ansible_managed }}

[program:viz-worker]

command=npm start "{\"VIZ_LISTEN_PORT\": %(process_num)d, \"ENVIRONMENT\": \"{{ cluster }}\", \"HOSTNAME\": \"localhost\", \"MONGO_USERNAME\": \"{{ mongo_username }}\", \"MONGO_PASSWORD\": \"{{ mongo_password }}\", \"VIZ_LISTEN_ADDRESS\": \"0.0.0.0\", \"LOG_FILE\": \"/var/log/graphistry-json/%(program_name)s.log\", \"LOG_LEVEL\": \"INFO\", \"MONGO_HOSTS\": [\"{{ mongo_host }}\"], \"ALLOW_MULTIPLE_VIZ_CONNECTIONS\": false, \"PINGER_ENABLED\": true, \"CLUSTER\": \"{{ cluster }}\", \"DATABASE\": \"{{ mongo_name }}\", \"MONGO_DATABASE\": \"{{ mongo_name }}\"}"
directory={{ graphistry_install_path }}/viz-server
environment=

process_name=%(program_name)s-%(process_num)d
numprocs={{ workers_count }}
numprocs_start={{ workers_port_start }}

user=www
umask=002

stdout_logfile=/var/log/worker/%(program_name)s-%(process_num)d.stdout.log
stdout_logfile_maxbytes=10MB

redirect_stderr=false
stderr_logfile=/var/log/worker/%(program_name)s-%(process_num)d.stderr.log
stderr_logfile_maxbytes=10MB

autostart=true
autorestart=true

stopasgroup=true
