---
###############################################################################
# User creation
###############################################################################

- name: "[mtorok] Create documents directory"
  file: path=/home/mtorok/Documents
        state=directory
        owner=mtorok
        group=mtorok
        mode=0770
  sudo: yes
  sudo_user: mtorok


###############################################################################
# Dotfile install
###############################################################################

- name: "[mtorok] Install extra packages"
  apt: pkg={{ item }} state=latest
  with_items:
    - ruby
    - tmux
    - vim
    - rake
    - gawk
    - exuberant-ctags
    - python-dev
    - libtool
    - automake
    - socat
    - cmake
    - python-pygments
  sudo: yes
  sudo_user: root

- name: "[mtorok] Install Homesick"
  gem: name=homesick state=latest user_install=no
  sudo: yes
  sudo_user: root

- name: "[mtorok] Install pyuv (for Powerline)"
  pip: name=pyuv
       state=present
  sudo: yes
  sudo_user: root

- name: "[mtorok] Install Powerline"
  pip: name=powerline-status
       state=latest
       extra_args='--user'
  sudo: yes
  sudo_user: mtorok

- name: "[mtorok] Create directory for dotfiles"
  file: path=/home/mtorok/.homesick/repos
        state=directory
        owner=mtorok
        group=mtorok
        mode=0775
  become: yes
  become_user: mtorok

- name: "[mtorok] Clone dotfiles repo (it's OK if this fails)"
  git: repo=git@github.com:int3h/dotfiles.git
       dest=/home/mtorok/.homesick/repos/dotfiles
       update=yes
       accept_hostkey=yes
  register: mtorok_dotfile_repo
  sudo: yes
  sudo_user: mtorok
  ignore_errors: true
  tags:
    - slow

- name: "[mtorok] Symlink dotfiles"
  command: 'homesick link --force'
  sudo: yes
  sudo_user: mtorok

- name: "[mtorok] Running dotfile rc"
  command: homesick rc --force
           chdir=/home/mtorok
  sudo: yes
  sudo_user: mtorok
  tags:
    - slow

- name: "[mtorok] Download Janus install script"
  get_url: url='https://bit.ly/janus-bootstrap'
           dest=/home/mtorok/Documents/janus_install.sh
           owner=mtorok
           group=mtorok
           mode=0770
  sudo: yes
  sudo_user: mtorok
  tags:
    - slow

- name: "[mtorok] Install Janus"
  command: /home/mtorok/Documents/janus_install.sh
           creates=/home/mtorok/.vim/janus
  sudo: yes
  sudo_user: mtorok
  tags:
    - slow

- name: "[mtorok] Update Janus"
  command: rake
           chdir=/home/mtorok/.vim/
           removes=/home/mtorok/.vim/janus
  sudo: yes
  sudo_user: mtorok
  tags:
    - slow

# - name: "[mtorok] Clone/update Vim plugins"
#   command: /home/mtorok/.homesick/repos/dotfiles/home/.janus/update.sh
#            chdir=/home/mtorok/.homesick/repos/dotfiles/home/.janus/
#   sudo: yes
#   sudo_user: mtorok

# - name: "[mtorok] Compiling Vim plugin 'YouCompleteMe'"
#   command: /home/mtorok/.janus/YouCompleteMe/install.sh --clang-completer
#            chdir=/home/mtorok/.janus/YouCompleteMe/
#   when: mtorok_dotfile_repo.changed
#   sudo: yes
#   sudo_user: mtorok
#   tags:
#     - slow


###############################################################################
# System Settings
###############################################################################

- name: "[mtorok] Modify pam MOTD directive pt. 1"
  lineinfile: dest={{ item }}
              regexp='^session([ \t]+)optional([ \t]+)pam_motd\.so([ \t]+)motd=(.+)([ \t]+)noupdate$'
              line='session    optional     pam_motd.so  motd=/run/motd.dynamic'
              create=no
              backup=yes
              backrefs=yes
  with_items:
    - "/etc/pam.d/login"
    - "/etc/pam.d/sshd"
  become: yes
  become_user: root

- name: "[mtorok] Modify pam MOTD directive pt. 2"
  lineinfile: dest={{ item }}
              regexp='^session([ \t]+)optional([ \t]+)pam_motd\.so([ \t]*)(#.*)?$'
              line="session    optional     pam_motd.so  noupdate"
              create=no
              backup=no
              backrefs=yes
  with_items:
    - "/etc/pam.d/login"
    - "/etc/pam.d/sshd"
  become: yes
  become_user: root

- name: Make MOTD 'reboot required' message more informative
  copy: dest=/usr/lib/update-notifier/update-motd-reboot-required
        src=mtorok/update-motd-reboot-required
        owner=root
        group=root
        mode=0755
  become: yes
  become_user: root
