[program:node-server]
command=/usr/local/bin/node /opt/graphistry/experiments/nbody/naive/server.js
process_name=%(program_name)s
numprocs=1
autostart=true
autorestart=true
stopsignal=TERM
stopwaitsecs=10
user=www