name: CI Tests

on:

  #NOTE: All jobs gated by auth job

  #Regular dev
  push:
  pull_request:

  #Enable UI-driven branch testing
  workflow_dispatch:

  #Test main bidaily @ 1a
  schedule:
    - cron: '0 1 1-31/2 * *'

jobs:

  authorize-collaborators:
    runs-on: ubuntu-latest

    steps:
    - uses: octokit/request-action@v2.0.0
      with:
        route: GET /repos/:repository/collaborators/${{ github.actor }}
        repository: ${{ github.repository }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


  test-core-python:

    needs: [ authorize-collaborators ]
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:

    - name: Checkout repo
      uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install test dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[dev]

    - name: Lint
      run: |
        ./bin/lint.sh

    - name: Core tests
      run: |
        ./bin/test.sh


  test-neo4j:

    needs: [ authorize-collaborators ]  # Wait on test-core-python / run flake8?
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Neo4j connector tests
      run: |
        cd docker && WITH_SUDO=" " ./test-cpu-local-neo4j-only.sh


  test-build:

    needs: [ authorize-collaborators ]  # Wait on test-core-python / run flake8?
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[build]

    - name: Test building
      run: |
        ./bin/build.sh

  
  test-docs:

    needs: [ authorize-collaborators ]  # Wait on test-core-python / run flake8?
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -e .[dev]
        apt-get install -y latexmk

    - name: Test building docs
      run: |
        cd docs && ./build.sh
  
  test-readme:

    needs: [ authorize-collaborators ]  # Wait on test-core-python / run flake8?
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7

    - name: Test building docs
      continue-on-error: true
      run: |
        docker run --rm -v "$(pwd)/README.md:/README.md:ro" avtodev/markdown-lint:v1 README.md

  